.audio-preview {
    width: 294px !important;
    height: 81px !important;
    border: 2px dashed #ddd;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
}

.audio-preview label {
    position: absolute;
    cursor: pointer;
    z-index: 5;
    opacity: 0.8;
    background-color: #bdc3c7;
    width: 150px;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.audio-preview input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    margin: auto;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

.image-preview {
    width: 294px !important;
}

.image-preview input {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
}

.video-preview {
    width: 294px !important;
    height: 250px !important;
    border: 2px dashed #ddd;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
}

.video-preview label {
    position: absolute;
    cursor: pointer;
    z-index: 5;
    opacity: 0.8;
    background-color: #bdc3c7;
    width: 150px;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.video-upload {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
}