/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */

.app {
    background-color: yellow;
    height: 100vh;
    /*height: 100%;*/
    /*min-height: 100vh;*/
}

.app .container {
    height: 95%;
    max-width: 95% !important;
    background-color: orange;
    padding: 0;
    /*margin-top: 2%;*/
    /*margin-bottom: 2%;*/
}

html > * {
    cursor: url("/assets/img/select.png") 45 0, auto; /* False error can't resolve path assets */
}

.app .border-background {
    border: 5px solid black;
    height: 97%;
    width: 100%;
}

.app .text-welcome {
    background-color: orange;
    padding: 0 0.5vw;
    position: absolute;
    top: 3.5%;
    left: 4%;
    font-size: 24px;
}

.app .row {
    padding: 0 5%;
}

.app .btn {
    border: 2px solid black;
    -webkit-box-shadow: 3px 3px 1px black;
    -moz-box-shadow: 3px 3px 1px black;
    box-shadow: 3px 3px 1px black;
    font-size: 2vw;
}

.app .btn:not(:disabled):not(.disabled) {
    cursor: url("/assets/img/select.png") 45 0, auto; /* False error can't resolve path assets */
}

.app .text-perintah {
    font-size: 1.6vw;
    font-weight: 600;
    left: 23%;
    top: 21%;
}

.app .text-notification {
    font-size: 2.3vw;
    font-weight: 600;
}

.app .btn-list {
    margin-bottom: 3vh;
    width: calc(80% / 2);
}

@media (max-width: 576px) {
    .app .img-story, .app .img-game {
        width: 100% !important;
    }
}

.app .img-story {
    width: 70%;
}

.app .img-game {
    width: 65%;
}

.app .game-sejarah-filosofi {
    width: calc(94% / 3);
}